*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.plane{
    /* display: block; */
    background-size: contain;
    height: 500px;
    width: 500px;
    background-color: lightgray;
    /* background-attachment: fixed; */
}
.honda{
    /* display: block; */
    height: 500px;
    width: 500px;
    background-color: lightblue;
}