
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #f7f7f7;
}


.family-layout {
    display: grid;

    grid-template-columns: 2fr 1fr;  
    grid-template-rows:
        auto     
        auto    
        auto    
        auto     
        auto;    
    grid-template-areas:
        "header  header"
        "nav     nav"
        "section aside"
        "article aside"
        "footer  footer";

    gap: 18px;
}

.header {
    grid-area: header;
    background: #004aad;
    color: white;
    padding: 25px;
    text-align: center;
    font-size: 26px;
    letter-spacing: 1px;
}


.nav {
    grid-area: nav;
    background: #0077b6;
    padding: 15px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    gap: 25px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover {
    color: #ffee32;
}


.section {
    grid-area: section;
    background: #ffd166;
    padding: 28px;
    font-size: 22px;
}


.aside {
    grid-area: aside;
    background: #f72585;
    padding: 28px;
    font-size: 22px;
    color: white;
}

.article {
    grid-area: article;
    background: #f4a261;
    padding: 28px;
    font-size: 22px;
}


.footer {
    grid-area: footer;
    background: #2b2d42;
    color: white;
    padding: 18px;
    text-align: center;
    font-size: 18px;
}


