*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 400vh;
}
.container{
    width: 600px;
    height: 1000px;
    border: 2px solid black;
}
.box{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    text-align: center;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: static;
    top: 50px;
    left: 50px;
}.black{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    top: 150px;
    left: 150px;
}.brown{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: absolute;
    top: 250px;
    left: 250px;
}.purple{
    width: 100px;
    height: 100px;
    background-color: purple;
    position: fixed;
    top: 350px;
    left: 350px;
}.yellow{
    width: 100px;
    height: 100px;
    background-color: yellow;
    position: sticky;
    top: 450px;
    left: 450px;
}