
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
    font-family:Verdana, sans-serif;
    background:#f4f4f4;
    padding:20px;
    text-align:center;
}

.header{
    background:#1a73e8;
    color:#fff;
    padding:15px;
    border-radius:6px;
}

.grid{
    margin-top:20px;
    display:flex;
    gap:15px;
    flex-wrap:wrap;
    justify-content:center;
}

.card{
    width:140px;
    height:140px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#fff;
    border:1px solid #ccc;
    border-radius:8px;
    font-weight:bold;
    transition:all .6s ease;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
}


.move:hover{
    transform:translate(40px, -25px);
    background:#43a047;color:#fff;
}

.zoom:hover{
    transform:scale(1.4);
    background:#e53935;
    color:#fff;
}

.spin:hover{
    transform:rotate(45deg);
    background:#fbc02d;
    color:#fff;
}

.effect:hover{
    transform:translate(20px) rotate(15deg);
    background:#00838f;
    color:#fff;
}


