*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.heading::before {
  content: "HELLO WORLD";
  font-size: 50px;
}

.btn {
  height: 30px;
  width: 100px;
  position: relative;
  background-color: rgb(18, 208, 255);
  border-radius: 5px;
}

.btn::after {
  content: "Discount";
  position: absolute;
  top: -5px;
  height: 20px;
  width: 50px;
  background-color: rgb(255, 0, 0);
  border-radius: 5px;
}